{% extends "base.html" %}

{% block content %}
  <div class="container">
    
    <form method="post" class="mt-4">
      <h3>Field for Excel File Section </h3>
      <div class="mb-3">
        <label for="filename" class="form-label">File Name</label>
        <input type="text" class="form-control" id="filename" placeholder="Filename Here" name="filename">
      </div>

      <div class="mb-3">
        <label for="sheetname" class="form-label">Sheet Name</label>
        <input type="text" class="form-control" id="sheetname" placeholder="Sheet Name" name="final_sheet_name">
      </div>

      <div class="mb-3">
        <label for="startdepth" class="form-label">Sheet Start Depth</label>
        <input type="text" class="form-control" id="startdepth" placeholder="Sheet Start Depth" name="start_depth">
      </div>

      <div class="mb-3">
        <label for="enddepth" class="form-label">Sheet End Depth</label>
        <input type="text" class="form-control" id="enddepth" placeholder="Sheet Start Depth" name="end_depth">
      </div>


      <div class="mb-3">
        <label for="column_start_range" class="form-label">Column Start Range</label>
        <input type="text" class="form-control" id="column_start_range" placeholder="Column Start Range Eg: A, B"
          name="col_start_range">
      </div>

      <div class="mb-3">
        <label for="column_end_range" class="form-label">Column End Range</label>
        <input type="text" class="form-control" id="column_end_range" placeholder="Column End Range Eg: A, B"
          name="col_end_range">
      </div>

      <div class="mb-3">
        <label for="student_id_column" class="form-label">Student Id Column</label>
        <input type="text" class="form-control" id="student_id_column" placeholder="Column End Range Eg: A, B"
          name="student_col">
      </div>


      <h3 class="mt-4">Field for Student Folder Section </h3>

      <div class="mb-3">
        <label for="student_folder_path" class="form-label">Student Folder Path</label>
        <input type="text" class="form-control" id="student_folder_path" placeholder="Provide Folder Path"
          name="student_folder">
      </div>

      <div class="mb-3">
        <label for="student_marks_dict" class="form-label">Student Marks Dict</label>
        <input type="text" class="form-control" id="student_marks_dict"
          placeholder="Provide The Marks DIct in Dictonary Format" name="student_marks_dict">
      </div>

      <div class="mb-3">
        <label for="student_sheet_name" class="form-label">Student Sheet Name</label>
        <input type="text" class="form-control" id="student_sheet_name" placeholder="Provide Excel Sheet Name"
          name="student_sheet_name">
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="True" id="defaultCheck1" name="merge_pdf" checked>
        <label class="form-check-label" for="defaultCheck1">
          <b>Merge Result Sheet to pdf Document</b>
        </label>
      </div>

      <button type="submit" class="btn btn-primary mb-4">Submit</button>
    </form>
  </div>
  {% endblock content %}

